<form method="post" action="{{ path('cart_delete', {'id': cart.id}) }}" onsubmit="return confirm('{{ "cart.deleted?" | trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
    <button class="btn">{{ "Delete" | trans }}</button>
</form>
