{% extends 'base.html.twig' %}

{% block title %}{{ "Orders" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Orders" | trans }}</h1>

    {% include 'cart/_cartList.html.twig' with {'carts': carts} %}

{% endblock %}
