<form method="post" action="{{ path('content_cart_delete', {'id': content_cart.id}) }}" onsubmit="return confirm('{{ "contentCart.deleted?" | trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content_cart.id) }}">
    <button class="btn btn-danger">{{ "Remove" | trans}}</button>
</form>
