{% extends 'base.html.twig' %}

{% block title %}{{ "Home" | trans }}{% endblock %}

{% block body %}

<h1>{{ "product.list" | trans }}</h1>
{% include 'product/_productList.html.twig' with {'products': products} %}

{% endblock %}
