{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<h1>Tous les produits</h1>
{% include 'product/_productList.html.twig' with {'products': products} %}

{% endblock %}
