{% extends 'base.html.twig' %}

{% block title %}{{ "product.list" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "product.list" | trans }}</h1>

    {% include 'product/_productList.html.twig' with {'products': products} %}

{% endblock %}
